#coloroverride{
	color: yellow;
}

* {
	font-family:  "Arial", monospace;
	font-sze: 25px;
}

h1 {

	font-size: 50px;
}

#bootcamp {
	text-transform: uppercase;
}

.language{

		background-color: lightgreen;
}

li[style]
		{
	border-color: lightgreen;

}

img + ul {

	list-style: square;
}


section img{

	height: 300px;
	width: 300px;
}

ul ~ p{
	text-align: center;

}

body > section > ul{

	letter-spacing: 5px ;
}