
* {
	font-family:  "Courier-New", monospace;
	font-sze: 20px;
}

html{
		scroll-behavior: smooth;
}


body{
	background-color: skyblue;

}

nav{
	background-color: white;
}

a:hover{
	background-color: #b4d6de;
}

div{

	display: inline-block;
	float: right;
}


section{
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5 rem;
}


ol{
	list-style: none;
}

form {
	text-align: center;
	background-color: white;
	border:  2px solid black;
	height:185px;
	width: 25vw;
	position: relative;
	left:  37.25%;
}	


button{

	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;

}

h1 {
	color:yellow !important;
	text-align: center;
	font-size: 2rem;
}

/*h3 + img {

	height: 300px;
	width: 300px;
	border-radius: 150px;
} 

*/


#zuitt-motto + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

}

#bootcamp-learning-list li{

		color: #075966;
}

h2 ~ a {
	text-decoration: none;
}

body > section > form > label {
	color: rgb(0, 0, 128);

}

/* h3{
	letter-spacing: 25px;
}   */

.offering-item {
	text-transform: uppercase;
}

input[required] {
 border-width:  2px;
 border-style: solid;
 border-color: navy;
}